// Place all the styles related to the Dvds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
	text-align: center;
}

.linked {
	border: 0;
}

#content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-style: italic;
}
