<div class="centered">
	<img src="/Images/banner.gif" />
</div>	
<h3>Create New DVD</h3>
<p>Use the form below to add a DVD to your inventory.</p>

<%= render 'form' %>

<%= link_to 'Main Page', dvds_path %>
